.news {
  width: 820px;
  position: relative;
  background: rgba(17, 19, 21, 0.1);
  border: 1px solid $ColorSecondary;
  box-sizing: border-box;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
  margin-right: 20px;

  &::before {
    content: "";
    position: absolute;
    left: -1px;
    top: 0;
    background: url("./../img/news-border-top.svg") no-repeat center;
    z-index: 10;
    width: 785px;
    height: 70px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("./../img/news-border-bottom.svg") no-repeat center;
    z-index: 10;
    width: 178px;
    height: 69px;
  }
}

.news__header {
  padding: 15px 20px;

  span {
    color: $ColorPrimary;
    font-family: $fontSecondary;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.news-wrapper {
  padding: 15px 20px;
  padding-right: 0;
}

.news__item {
  display: flex;
  padding-bottom: 12px;
  padding-top: 12px;
  border-bottom: 1px solid $ColorSecondary;
}

.news__text {
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 1px;
  color: $ColorSecondary;
  padding-left: 20px;
  padding-right: 20px;
}
