.playing {
  width: 400px;
  background: rgba(17, 19, 21, 0.1);
  border: 1px solid $ColorSecondary;
  box-sizing: border-box;
  backdrop-filter: blur(50px);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 14px;
    background: url("./../img/playing-border-top.svg") no-repeat center;
    z-index: -10;
    width: 398px;
    height: 40px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 25px;
    bottom: -1px;
    background: url("./../img/playing-border-bottom.svg") no-repeat center;
    z-index: 10;
    width: 346px;
    height: 4px;
  }
}

.playing__header {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  span {
    color: $ColorPrimary;
    font-family: $fontSecondary;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.playing__item {
  picture {
    position: relative;
    margin: auto;
    display: block;
    width: 360px;
    height: 211px;
  }
}

.playing__top-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 140px;
  height: 28px;
  box-sizing: border-box;
  background: url("./../img/playing-back-top-border.svg") no-repeat, url("./../img/playing-back-top.svg") no-repeat;
}

.playing__bottom-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 110px;
  height: 28px;
  box-sizing: border-box;
  background: url("./../img/playing-back-bottom-border.svg") no-repeat right 3px, url("./../img/playing-back-bottom.svg") no-repeat;
  display: flex;
  justify-content: flex-end;
}

.playing__top-overlay-live {
  font-family: $fontSecondary;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ed56ec;
  margin-right: 28px;
  margin-left: 9px;
}

.playing__top-overlay-count {
  font-weight: $fontMedium;
  font-size: 10px;
  line-height: 25px;
  letter-spacing: 1px;
  color: $ColorSecondary;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 12px;
    left: -14px;
    width: 11px;
    height: 8px;
    background: url("./../img/icon-eye.svg") no-repeat center;
  }
}

.playing__bottom-overlay-lang {
  font-weight: $fontMedium;
  font-size: 10px;
  line-height: 29px;
  letter-spacing: 1px;
  color: $ColorSecondary;
  position: relative;
  margin-right: 9px;
}

.playing__desc {
  width: 360px;
  margin: auto;
  display: flex;
  align-items: center;
  margin-top: 18px;

  img {
    width: 45px;
    height: 45px;
  }
}

.playing__desc-title {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #ffffff;
  margin: 0;
}

.playing__desc-nick {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 1px;
  color: $ColorPrimary;
  margin-left: 21px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 2px;
    left: -21px;
    width: 12px;
    height: 12px;
    background: url("./../img/icon-checked.svg") no-repeat center;
  }
}

.playing__desc-wrapper {
  margin-left: 8px;
}

.playing__title {
  width: 360px;
  margin: auto;
  display: flex;
  align-items: center;
  margin-top: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $ColorSecondary;
  border-bottom: 0.5px solid $ColorSecondary;
  margin-bottom: 30px;
}

.playing-wrapper {
  height: 430px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $ColorPrimary;
    border-radius: 20px;
    border: 3px solid $ColorPrimary;
  }

  scrollbar-width: thin;
  scrollbar-color: $ColorPrimary black;
}
