html {
  cursor: url("../img/cursor.png"), default;
}

body {
  font-family: $fontBase;
  font-size: $fontTextRegular;
  margin: 0 auto;
  background: repeat center url("../img/background.png"), #1c1f22;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
